<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSR Smart Home Report</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="dist/index.css" />
  </head>
  <body>
    <header class="site__header">
      <h1>Smart Home Status</h1>
    </header>
    <main>
      <article class="home__status">
        <header class="home__header">
          <div class="home__brief">
            <p class="home__id">23</p>
            <p class="home__address">100 Chicago St. Barts, WI 60054</p>
          </div>
          <div class="icon__container">
            <img class="home__icon" src="assets/house.svg" alt="home icon" />
          </div>
        </header>
        <section class="home__summary">
          <div class="weather__info">weather</div>
          <div class="power__info">power</div>
          <div class="water__info">water</div>
          <div class="internet__info">internet</div>
        </section>
      </article>
    </main>
    <div style="display: none">
      Icons made by
      <a
        href="https://www.flaticon.com/authors/vectors-market"
        title="Vectors Market"
        >Vectors Market</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </body>
</html>
